<nav>
  <button class="btn btn-primary" ng-click="goPrevious()"><span>&lt;</span></button>
  <button class="btn btn-primary" ng-click="goNext()"><span>&gt;</span></button>

  <button class="btn btn-primary" ng-click="zoomIn()"><span>+</span></button>
  <button class="btn btn-primary" ng-click="fit()"><span>100%</span></button>
  <button class="btn btn-primary" ng-click="zoomOut()"><span>-</span></button>

  <button class="btn btn-primary"   ng-click="rotate()"><span>90</span></button>
  <span>Page: </span>
  <input type="text" min=1 ng-model="pageNum">
  <span> / {{pageCount}}</span>
</nav>
