<div class="margin-top">
  <div ng-show="!scholarshipInfo.inEditMode && scholarshipInfo.html"
       ng-bind-html="trustAsHtml(scholarshipInfo.html)">
  </div>
  <div ng-show="scholarshipInfo.inEditMode">
    <textarea ui-tinymce="tinymceOptions"
              ng-model="tempScholarshipInfo.html">
    </textarea>
  </div>
  <div ng-show="isAdmin()" class="margin-bottom">
    <button ng-hide="scholarshipInfo.inEditMode"
            class="btn btn-primary"
            ng-click="editScholarshipInfo()">
      Edit Scholarship Information <span class="glyphicon glyphicon-edit"></span>
    </button>
    <div class="margin-top">
      <button ng-show="scholarshipInfo.inEditMode"
              class="btn btn-success"
              ng-click="saveScholarshipInfo()">
        Save Changes <span class="glyphicon glyphicon-floppy-disk"></span>
      </button>
      <button ng-show="scholarshipInfo.inEditMode"
              class="btn btn-danger"
              ng-click="undoEdits()">
        Undo Changes <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>
  <wra-scholarship-list></wra-scholarship-list>
</div>
