<div>
  <div ng-hide="post.inEditMode">
    <div ng-bind-html="trustAsHtml(post.html)"></div>
    <div ng-if="post.pdfUrl">
      <wra-pdf pdf-url="{{post.pdfUrl}}"></wra-pdf>
    </div>
  </div>
  <div class="margin-top" ng-show="post.inEditMode">
    <textarea ui-tinymce="tinymceOptions" ng-model="tempPost.html"></textarea>
    <div class="row margin-top margin-bottom">
      <div class="col-sm-6">
        <input type="text"
              class="form-control"
              ng-model="tempPost.pdfUrl"
              placeholder="PDF Url"/>
      </div>
      <div class="col-sm-6">
        <input filepicker 
               type="filepicker"
               data-fp-services="computer"
               on-success="attachPdf(event.fpfile)"
               data-fp-button-class="btn btn-primary"
               data-fp-button-text="Attach PDF" />
      </div>
    </div>
  </div>
  <p ng-if="showPostedDate()">
    <i>Posted on {{getPrettyDate(post.datePosted)}}</i>
  </p>
  <p ng-if="showModifiedDate()">
    <i>Last modified on {{getPrettyDate(post.dateModified)}}</i>
  </p>
  <div ng-if="isAdmin()">
    <button ng-hide="post.inEditMode"
            class="btn btn-primary"
            ng-click="editPost()">
      Edit Post <span class="glyphicon glyphicon-edit"></span>
    </button>
    <button ng-hide="post.inEditMode"
            class="btn btn-danger"
            ng-click="deletePost()">
      Delete Post <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>
  <div class="margin-top" ng-if="isAdmin()">
    <button ng-show="post.inEditMode"
            class="btn btn-success"
            ng-click="savePost()">
      Save Post <span class="glyphicon glyphicon-floppy-disk"></span>
    </button>
    <button ng-show="post.inEditMode"
            class="btn btn-danger"
            ng-click="undoPost()">
      Undo Changes <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
</div>
