.logo {
  max-width: 630px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.indent-left {
  padding-left: 50px;
}

.dropdown-toggle:hover {
  cursor: pointer;
}

.padding-top {
  padding-top: 10px;
}

.padding-bottom {
  padding-bottom: 10px;
}

.no-margin-top {
  margin-top: 0px;
}

.margin-right {
  margin-right: 20px;
}

.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.img-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.bio-image {
  max-width: 300px;
  max-height: 300px;
}

.upload-image {
  max-width: 300px;
  max-height: 300px;
}

input[type="file"] {
  visibility: hidden;
  position: absolute;
}

.file-upload {
  display: inline-block;
  cursor: pointer;
}

.inline {
  display: inline;
}

.pointer {
  cursor: pointer;
}

.info {
  max-width: 85%;
}

.login-box {
  padding: 15px;
  border: 1px solid #BABABA;
  border-radius: 15px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.candidate-box {
  padding: 15px;
  border: 1px solid #BABABA;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 15px 0px 15px 0px;
}

.scholarship-box {
  padding: 15px;
  border: 1px solid #BABABA;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 15px 0px 15px 0px;
}

.ballot-box {
  padding: 15px;
  border: 1px solid #BABABA;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 15px 0px 15px 0px;
}

.upload-box {
  padding: 15px;
  border: 1px solid #BABABA;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 15px 0px 15px 0px;
}

.rejection-box {
  width: 65% !important;
}

.wrap {
  white-space: pre-wrap;
}
