<div class="modal-body">
  <h2>Create a new Page</h2>
  <form>
    <div class="form-group">
      <label>Page Title</label>
      <input class="form-control" ng-model="form.title" placeholder="New Page"/>
    </div>
    <div class="form-group">
      <label>Page Type</label>
      <select class="form-control" ng-model="form.pageType">
        <option value="blog">Blog</option>
        <option value="information">Information</option>
        <option value="placeholder">Placeholder</option>
        <option value="submission">Submission</option>
        <option value="video">Video</option>
      </select>
    </div>
    <button class="btn btn-success" ng-click="onSubmit()">Create Page</button>
    <button class="btn btn-danger" ng-click="onCancel()">Cancel</button>
  </form>
</div>
