<div>
  <p>{{aboutMessage}}</p>
  <p>Contact us at: <a ng-href="mailto:{{contactEmail}}">{{contactEmail}}</a></p>
</div>
<div>
  <h3>Executive Board Members {{years}}</h3>
  <img class="img-responsive img-shadow" src="../images/about/wramtas_board.jpg" />
</div>
<div class="clearfix margin-top margin-bottom" ng-repeat="bio in boardMembers">
  <bio bio="bio" on-delete="bios.splice($index, 1)" type="reps">
  </bio>
</div>
<h3>University Representatives</h3>
<div class="clearfix margin-top margin-bottom" ng-repeat="bio in universityReps">
  <bio bio="bio" on-delete="bios.splice($index, 1)" type="reps">
  </bio>
</div>
