
.logo {
    max-width: 50%;
    max-height: 50%;
}

.indent-left {
    padding-left: 50px;
}

.dropdown-toggle:hover {
    cursor: pointer;
}

.padding-top {
    padding-top: 10px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.no-margin-top {
    margin-top: 0px;
}

.margin-right {
    margin-right: 20px;
}

.margin-top {
    margin-top: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.img-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
