<div class="margin-top">
  <div ng-if="isAdmin()">
    <input filepicker type="filepicker"
           data-fp-services="computer"
           on-success="onSuccess(event.fpfile)"
           data-fp-button-class="btn btn-primary"
           data-fp-button-text="Upload Media" />
    <div ng-repeat="file in files.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
      <div>
        <img class="upload-image upload-box" ng-src="{{getSource(file)}}"></img>
        <p>Original Filename: {{file.filename}}</p>
        <p>Link: <a ng-href="{{file.url}}">{{file.url}}</a></p>
      </div>
      <hr/>
    </div>
    <ul uib-pagination
        boundary-links="true"
        total-items="files.length"
        items-per-page="itemsPerPage"
        ng-model="currentPage">
    </ul>
  </div>
</div>
<ng-pdf template-url="/pages/Upload/viewer.html"></ng-pdf>
