<div ng-hide="bio.inEditMode">
  <img class="img-responsive img-shadow pull-left margin-right bio-image" ng-src="../{{bio.image}}" />
  <div>
    <h3>{{bio.name}} - {{bio.title}}</h3>
    <p>{{bio.about}}</p>
    <p ng-if="bio.email !== ''">Contact: <a ng-href="mailto:{{bio.email}}">{{bio.email}}</a></p>
  </div>
</div>
<div flow-init ng-show="bio.inEditMode">
  <label for="name">Name:</label>
  <input type="text" class="form-control" ng-model="tempBio.name" id="name" />
  <label for="position">Board Position/University:</label>
  <input type="text" class="form-control" ng-model="tempBio.title" id="position" />
  <label for="email">Email Address:</label>
  <input type="text" class="form-control" ng-model="tempBio.email" id="email" />
  <label for="about">About:</label>
  <textarea class="form-control" ng-model="tempBio.about" rows="7" id="about"></textarea>
  <label for="image" class="file-upload btn btn-primary margin-top">Upload Image</label>
  <input type="file" id="image" class="pull-right" flow-btn />
  <img class="img-responsive img-shadow bio-image inline margin-top" flow-img="$flow.files[0]" />
</div>
<div>
  <button ng-hide="bio.inEditMode" class="btn btn-primary" ng-click="editBio()">
    Edit Bio <span class="glyphicon glyphicon-edit"></span>
  </button>
  <button ng-hide="bio.inEditMode" class="btn btn-danger" ng-click="deleteBio()">
    Delete Bio <span class="glyphicon glyphicon-trash"></span>
  </button>
</div>
<div class="margin-top">
  <button ng-show="bio.inEditMode" class="btn btn-success" ng-click="saveBio()">
    Save Bio <span class="glyphicon glyphicon-floppy-disk"></span>
  </button>
  <button ng-show="bio.inEditMode" class="btn btn-danger" ng-click="undoBio()">
    Undo Changes <span class="glyphicon glyphicon-remove"></span>
  </button>
</div>
