<div class="modal-body">
  <h2>Master Class Survey</h2>
  <div ng-if="isAdmin()">
    <div class="survey-question" ng-repeat="s in survey">
      <div class="row">
        <div class="col-sm-7">
          <input type="text"
                class="form-control"
                ng-model="s.question"
                placeholder="Question"/>
        </div>
        <div class="col-sm-4">
          <select class="form-control" ng-model="s.inputType">
            <option value="text">Short Answer</option>
            <option value="textarea">Paragraph</option>
            <option value="radio">Multiple Choice</option>
            <option value="checkbox">Checkboxes</option>
            <option value="select">Dropdown</option>
          </select>
        </div>
        <div class="col-sm-1">
          <div class="delete-symbol">
            <span class="glyphicon glyphicon-remove"
                  ng-click="deleteQuestion($index)"></span>
          </div>
        </div>
      </div>
      <div ng-if="allowCreateResponses(s.inputType)">
        <div class="row" ng-repeat="response in s.validOptions track by $index">
          <div class="survey-option col-sm-6">
            <input type="text"
                   class="form-control"
                   ng-model="s.validOptions[$index]"/>
          </div>
          <div class="col-sm-1">
            <div class="delete-symbol">
              <span class="glyphicon glyphicon-remove"
                    ng-click="deleteQuestion($index)"></span>
            </div>
          </div>
        </div>
        <button class="survey-option btn btn-primary"
                ng-click="addOption(s)">
          Add Option
        </button>
      </div>
    </div>
    <div class="margin-top">
      <button class="btn btn-primary"
              ng-click="addQuestion()">
        Add Question <span class="glyphicon glyphicon-plus"></span>
      </button>
      <button class="btn btn-success"
              ng-click="$close(survey)">
        Save <span class="glyphicon glyphicon-floppy-disk"></span>
      </button>
      <button class="btn btn-danger"
              ng-click="$dismiss('canceled')">
        Cancel <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>
  <div ng-if="!isAdmin()">
    <div ng-repeat="s in survey">
      <p>{{s.question}}</p>
      <div ng-if="s.inputType === 'text'">
        <input type="text"
              class="form-control"
              ng-model="responses[$index]"/>
      </div>
      <div ng-if="s.inputType === 'textarea'">
        <textarea class="form-control"
                  ng-model="responses[$index]">
        </textarea>
      </div>
      <div ng-if="s.inputType === 'radio'">
        <div ng-repeat="option in s.validOptions">
          <input type="radio"
                 name="{{s.question}}"
                 value="{{$index}}"
                 ng-model="responses[$parent.$index]">
            {{option}}
          </input>
        </div>
      </div>
      <div ng-if="s.inputType === 'checkbox'">
        <div ng-repeat="option in s.validOptions">
          <input type="checkbox"
                 name="{{s.question}}"
                 ng-model="responses[$parent.$index][$index]">
            {{option}}
          </input>
        </div>
      </div>
      <div ng-if="s.inputType === 'select'">
        <select class="form-control"
                ng-model="responses[$index]"
                ng-options="s.validOptions.indexOf(selected) as selected for selected in s.validOptions">
        </select>
      </div>
    </div>
    <p>
      Thank you for participating in this survey.  We greatly appreciate any
      and all feedback you can offer us so we can continue improving our Virtual
      Master Classes
    </p>
    <button class="btn btn-success"
            ng-click="saveSurvey()">Submit</button>
    <button class="btn btn-danger"
            ng-click="$dismiss('canceled')">Cancel</button>
  </div>
</div>
