<div class="margin-bottom">
  <div class="margin-top">
    <div ng-hide="prompt.inEditMode"
         ng-bind-html="trustAsHtml(prompt.description)">
    </div>
    <div ng-show="prompt.inEditMode">
      <h3>Modify Prompt Details</h3>
      <textarea ui-tinymce="tinymceOptions"
                ng-model="tempPrompt.description">
      </textarea>
      <h3>Modify Prompt Open/Close Dates</h3>
      <form class="form-inline">
        <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label">Applications Open:</label>
            <p class="input-group">
              <input type="text"
                     class="form-control"
                     uib-datepicker-popup="{{format}}"
                     ng-model="tempPrompt.dates.openDate.date"
                     is-open="tempPrompt.dates.openDate.opened"
                     datepicker-options="dateOptions"
                     close-text="Close" />
              <span class="input-group-btn">
                <button type="button"
                        class="btn btn-default"
                        ng-click="toggleOpened(tempPrompt.dates.openDate)">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Applications Close:</label>
            <p class="input-group">
              <input type="text"
                     class="form-control"
                     uib-datepicker-popup="{{format}}"
                     ng-model="tempPrompt.dates.closeDate.date"
                     is-open="tempPrompt.dates.closeDate.opened"
                     datepicker-options="dateOptions"
                     close-text="Close" />
              <span class="input-group-btn">
                <button type="button"
                        class="btn btn-default"
                        ng-click="toggleOpened(tempPrompt.dates.closeDate)">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="margin-top" ng-if="isAdmin()">
    <button ng-hide="prompt.inEditMode"
            class="btn btn-primary"
            ng-click="editPrompt()">
      Edit Prompt <span class="glyphicon glyphicon-edit"></span>
    </button>
    <button ng-hide="prompt.inEditMode"
            class="btn btn-danger"
            ng-click="deletePrompt()">
      Delete Prompt <span class="glyphicon glyphicon-trash"></span>
    </button>
    <button ng-show="prompt.inEditMode"
            class="btn btn-success"
            ng-click="savePrompt()">
      Save Prompt <span class="glyphicon glyphicon-floppy-disk"></span>
    </button>
    <button ng-show="prompt.inEditMode"
            class="btn btn-danger"
            ng-click="undoEdits()">
      Undo Changes <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
  <div ng-if="isAdmin()">
    <div ng-repeat="application in prompt.applications">
      <div class="submission-box">
        <h4>Application #{{$index + 1}}
          <button class="btn btn-primary"
                  ng-click="toggleContactInfo($index)">
            <span ng-show="!showContact[$index]">Show</span>
            <span ng-show="showContact[$index]">Hide</span> Contact Information
          </button>
        </h4>
        <div ng-show="showContact[$index]">
          <p>Applicant Name: {{application.name}}</p>
          <p>Applicant Email: 
            <a ng-href="mailto:{{application.email}}">{{application.email}}</a>
          </p>
        </div>
        <div ng-repeat="path in application.uploadPaths">
          <p>File {{$index + 1}}: 
            <a target="_self" download="{{path}}" ng-href="{{path}}">
              {{path}}
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!isAdmin()">
    <div ng-if="!showApp">
      <div ng-if="isPromptOpen()">
        <button class="btn btn-primary"
                ng-click="toggleShowApp()">
          Apply Now
        </button>
      </div>
      <div ng-if="!isPromptOpen()">
        <div class="alert alert-info margin-top">
          <span>This {{type}} is not currently open for applications.</span>
        </div>
      </div>
    </div>
    <div class="alert alert-info margin-top"
         ng-show="showSavedMessage">
      <span>
        Thank you for applying for a WRAMTAS {{type}}.  You will be notified
        if you have won shortly after applications close.
      </span>
    </div>
    <div ng-if="showApp">
      <form class="form-group submission-box"
            ng-submit="submitApplication()">
        <h3>Your Application</h3>
        <input type="text"
               class="form-control margin-top"
               ng-model="app.name"
               placeholder="Full Name" />
        <input type="text"
               class="form-control margin-top"
               ng-model="app.amtaId"
               placeholder="AMTA Number" />
        <input type="text"
               class="form-control margin-top"
               ng-model="app.email"
               placeholder="Email Address" />
        <div class="margin-top">
          <input filepicker
                 type="filepicker"
                 data-fp-services="computer"
                 on-success="onSuccess(event.fpfile)"
                 data-fp-button-class="btn btn-primary"
                 data-fp-button-text="Upload File" />
          <hr/>
          <div ng-show="files.length">
            <div ng-repeat="file in files">
              <div class="margin-top">
                <span>
                  File #{{$index + 1}}: 
                  <a ng-href="{{file.url}}">{{file.filename}}</a>
                </span>
                <span class="btn btn-danger"
                      ng-click="removeFile($index)">Remove</span>
              </div>
            </div>
          </div>
        </div>
        <div class="margin-top">
          <input type="submit" class="btn btn-success" value="Submit">
          <button class="btn btn-danger"
                  ng-click="toggleShowApp()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
