<div class="margin-top margin-bottom">
  <div ng-show="!informationPage.inEditMode && informationPage.html">
    <div ng-bind-html="trustAsHtml(informationPage.html)"></div>
    <div ng-if="informationPage.pdfUrl">
      <wra-pdf pdf-url="{{informationPage.pdfUrl}}"></wra-pdf>
    </div>
  </div>
  <div ng-show="informationPage.inEditMode">
    <textarea ui-tinymce="tinymceOptions"
              ng-model="tempInformationPage.html">
    </textarea>
    <div class="row margin-top margin-bottom">
      <div class="col-sm-6">
        <input type="text"
              class="form-control"
              ng-model="tempInformationPage.pdfUrl"
              placeholder="PDF Url"/>
      </div>
      <div class="col-sm-6">
        <input filepicker 
               type="filepicker"
               data-fp-services="computer"
               on-success="attachPdf(event.fpfile)"
               data-fp-button-class="btn btn-primary"
               data-fp-button-text="Attach PDF" />
      </div>
    </div>
  </div>
  <div ng-show="isAdmin()">
    <button ng-hide="informationPage.inEditMode"
            class="btn btn-primary"
            ng-click="editInformationPage()">
      Edit {{page}} Information <span class="glyphicon glyphicon-edit"></span>
    </button>
    <div class="margin-top">
      <button ng-show="informationPage.inEditMode"
              class="btn btn-success"
              ng-click="saveInformationPage()">
        Save Changes <span class="glyphicon glyphicon-floppy-disk"></span>
      </button>
      <button ng-show="informationPage.inEditMode"
              class="btn btn-danger"
              ng-click="undoEdits()">
        Undo Changes <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>
</div>
