<div class="margin-top">
  <div ng-show="!submissionInfo.inEditMode && submissionInfo.description"
       ng-bind-html="trustAsHtml(submissionInfo.description)">
  </div>
  <div ng-show="submissionInfo.inEditMode">
    <textarea ui-tinymce="tinymceOptions"
              ng-model="tempSubmissionInfo.description">
    </textarea>
  </div>
  <div ng-show="isAdmin()" class="margin-bottom">
    <button ng-hide="submissionInfo.inEditMode"
            class="btn btn-primary"
            ng-click="editSubmissionInfo()">
      Edit {{submissionInfo.page}} Information
      <span class="glyphicon glyphicon-edit"></span>
    </button>
    <div class="margin-top">
      <button ng-show="submissionInfo.inEditMode"
              class="btn btn-success"
              ng-click="saveSubmissionInfo()">
        Save Changes <span class="glyphicon glyphicon-floppy-disk"></span>
      </button>
      <button ng-show="submissionInfo.inEditMode"
              class="btn btn-danger"
              ng-click="undoEdits()">
        Undo Changes <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>
  <wra-submission-prompt-list page="{{page}}"
                              prompts="submissionInfo.prompts">
  </wra-submission-prompt-list>
</div>
